<h3 mat-dialog-title>Confirm</h3>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center">
    <p>{{dialogConfig.message}}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="handleYes()">Yes</button>
  <button mat-button (click)="handleNo();">No</button>
</div>
