<div fxLayout="column">
  <div *ngIf="mode === 'summary'">
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxFlex *ngFor="let error of errors">
        {{getSummaryDisplay(error)}}
        <a href="#" *ngIf="showViewLink(error)" (click)="handleViewDetails($event, error)">(expand)</a>
      </div>
    </div>
  </div>
  <div *ngIf="mode === 'details'">
    <div fxFlex>
      {{selectedError.message}}
      <a href="#" (click)="handleBackToSummary($event)">(collapse)</a>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="auto"></div>
    <button mat-button (click)="handleDismiss()">
      Dismiss
    </button>
  </div>

</div>
