<div fxLayout="column">
  <app-dynamic-form-palette *ngIf="configMode === 'form'"
                            [currentFormInfo]="formInfo"
                            (onFormConfigChange)="handleFormConfigChange($event)">
  </app-dynamic-form-palette>
  <app-dyno-field-config *ngIf="configMode === 'field' && field"
                         (onFormChange)="handleFieldConfigChange($event)"
                         [field]="field">
  </app-dyno-field-config>
  <div fxLayout="row">
    <div fxFlex="auto"></div>
    <button mat-icon-button color="accent" (click)="handleConfigSave()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
