<div class="row">
  <h2 class="column small-12">
    {{ process.name }}
  </h2>
</div>
<div class="row">
  <div class="small-12 columns">
    <mercer-nav-list *ngFor="let instance of processInstances">
      <a mercer-list-item *ngFor="let task of instance.tasks" (click)="currentTask = { formData: task }; formModal.open()">{{task.name}}</a>
    </mercer-nav-list>
      <!-- <mercer-accordion>
        <mercer-accordion-static>
          <h4></h4>
        </mercer-accordion-static>
        <mercer-accordion-expanded>
          <div class="mos-u-spacer--padding-md" *ngIf="task">
            <app-gbm-form [currentFormId]="task.formId" [data]="{ formData: task }"
              [collectedData]="task.collectedData"
              (onCompleteTask)="handleCompleteTask(task.id, $event)"
              (formSubmit)="handleFormSubmit($event)"></app-gbm-form>
            <div>
              <form>

              </form>
            </div>
          </div>
          <div class="mos-u-spacer--padding-md" *ngIf="!task">
            <h4>No form configured for task with id "{{ task.id }}"</h4>
            <button mercer-button (click)="handleCompleteTask(task.id)">Complete</button>
          </div>
        </mercer-accordion-expanded>
      </mercer-accordion> -->
  </div>
</div>

<mercer-modal #formModal escapable="true" theme="primary">
  <mercer-modal-header>
    <h3>{{ currentTask?.formData?.name }}</h3>
  </mercer-modal-header>
  <mercer-modal-content>
    <div class="mos-u-spacer--padding-lg" *ngIf="currentTask">
      <app-gbm-form
        [currentFormId]="currentTask.formData.formId"
        [data]="currentTask"
        [collectedData]="currentTask.formData.collectedData"
        (onCompleteTask)="handleCompleteTask(currentTask.formData.id, $event)"
        (formSubmit)="handleFormSubmit($event)"></app-gbm-form>
    </div>
  </mercer-modal-content>
  <mercer-modal-footer>
    <div class="row align-right is-collapse-child mos-c-modal__actions">
      <div>
        <button mercer-button [flat]="true" size="sm" expandedOn="small" (click)="formModal.close();">Save</button>
      </div>
    </div>
  </mercer-modal-footer>
</mercer-modal>
