<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="auto">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Build a Flow</h4>
        <p class="category">Create you work flow</p>
      </div>
      <div class="card-content">
        <app-process-generalinfo-form
          mode="dialog"
          [processDefinition]="processDefinition"
          (onformChange)="handleOnGeneralFormChange($event)">
        </app-process-generalinfo-form>
        <div fxLayout="row">
          <div fxFlex="auto"></div>
          <button type="submit"
                  (click)="handleOnBuild()"
                  mat-raised-button
                  [disabled]="!isFormValid"
                  color="primary">Build</button>
          <button type="button"
                  (click)="handleOnCancel()"
                  mat-button
                  color="primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
