<div class="mos-o-form-input-field mos-u-spacer--margin-bottom-md" [formGroup]="group">
  <input [id]="config.id" [name]="config.id" [formControlName]="config.id" type="checkbox" (focus)="fieldFocus.emit(true)"/>
  <label *ngIf="config.label" [for]="config.id" [innerText]="config.label"></label>
</div>