<div fxLayout="row" fxLayoutGap="15px" fxLayoutWrap>
  <div fxFlex="25%" *ngFor="let processDefinition of processDefinitionList; let i = index;">
    <app-info-card [infoCardConfig]="infoCardConfig(i)">
      <div cardContent>
        <h4>{{ processDefinition.name }}</h4>
        <p class="category">
          <span class="text-success">
            {{processDefinition.description}}
          </span>
        </p>
      </div>
      <div cardStats>
        <button mat-icon-button color="accent" (click)="handleEdit(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </app-info-card>
  </div>
  <div fxFlex="25%">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab (click)="openAddProcessDefinitionDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
