<div class="form-select" [formGroup]="group">
  <mat-form-field>
    <mat-select [placeholder]="config.label" [formControlName]="config.id" (focus)="fieldFocus.emit(true)">
      <mat-option *ngFor="let option of config.options" [value]="option.value || option">
        {{ option.label || option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>