<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="sidenav--side">
      <mat-list>
        <ng-container *ngFor="let process of processes; let iP = index">
          <mat-divider></mat-divider>
          <h3 mat-subheader> {{ process.name }}</h3>
          <mat-nav-list>
            <a mat-list-item *ngFor="let form of process.formInfoList; let iF = index" (click)="selectCurrentForm(iP, iF)">
              {{ form.formName }}
            </a>
          </mat-nav-list>
        </ng-container>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav--content">
    <button class="sidenav--toggle" mat-icon-button color="accent" (click)="sidenav.toggle()">
      <mat-icon [ngClass]="sidenav.opened ? 'left' : 'right'">keyboard_arrow_right</mat-icon>
    </button>
    <div *ngIf="currentForm">
      <app-form-workspace [currentPluginData]="currentForm" [fields]="currentForm.fields" (formChange)="handleFieldChanage($event)"></app-form-workspace>
    </div>
    <div *ngIf="!currentForm">
      Choose a form
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>