.sidenav {
  height: 100vh;
  &--side {
    width: 15vw;
  }

  &--toggle {
    mat-icon {
      transition: all .5s;
    }
    .left {
      transform: rotate(180deg)
    }
  }

  &--content {
    padding: .5rem 1rem;
  }
}