
<div class="row mos-u-grid-full-width">
  <div class="column large-2">
    <app-process-list [processes]="processes" [currentProcessId]="currentProcess?._id" (selectProcess)="handleSelectProcess($event)" [disableSubmit]="currentProcessProgress !== 100"></app-process-list>
  </div>
  <div class="column large-8 mos-u-spacer--padding-lg mos-u-spacer--padding-top-xlg">
    <gbm-dynamic-workspace *ngIf="currentProcess"
                           [process]="currentProcess"
                           [processInstances]="processInstances"
                           [collectedData]="currentProcessData"
                           [processInstances]="processInstances"
                           (onCompleteTask)="handleCompleteTask($event)"
                           (onStartProcess)="handleStartNewProcess($event)"
                           (submitForm)="handleFormSubmit($event)"></gbm-dynamic-workspace>
    <div class="row">
      <h3 class="column small-12 mos-u-text-center" *ngIf="!currentProcess">Please select a workflow.</h3>
    </div>
  </div>
  <div class="column large-2">
    <gbm-right-side-nav [progressTitle]="currentProcess?.name"></gbm-right-side-nav>
  </div>
</div>

