<!-- <app-plugin-loader pluginKey="dynoForm" (onConfigChange)="handleOnConfigChange($event)" [data]="currentPluginData" [standaloneFlag]="true"></app-plugin-loader> -->

<form class="gbm-form" [formGroup]="form">
  <div fxLayout="row-reverse">
    <button mat-icon-button color="accent" (click)="addSection()" matTooltip="Add Section">
      <mat-icon>library_add</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="saveForm()" matTooltip="Save Form" [disabled]="saveDisabled">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="5%">
    <div fxFlex="70">
      <div fxLayout="row">
        <h2> {{ currentPluginData?.formName }} </h2>
      </div>
      <mat-card fxLayout="column" *ngFor="let section of sections; let sI = index;" class="form--section" fxLayoutGap="10px">
        <div fxLayout="row-reverse" fxLayoutAlign="space-between center">
          <button mat-icon-button color="accent" (click)="addField(sI)" matTooltip="Add Field" matTooltipPosition="above">
            <mat-icon>add_circle</mat-icon>
          </button>
          <h3 contenteditable="true" (blur)="editSectionName(sI, $event)">{{ section.name }}</h3>
        </div>
        <div fxLayout="row" fxLayoutWrap>
          <div *ngFor="let field of section.fields; let i = index" [fxFlex]="(field.controlConfig.width || 100) + '%'">
            <ng-container gbmFormField [config]="field" [group]="form" (componentLoad)="handleComponentLoad($event, i, sI)"></ng-container>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="30">
      <!-- <h3>
        {{ activeConfig?.config.label }}
      </h3> -->
      <app-form-config *ngIf="activeConfig" 
        [config]="configObject"
        (saveConfig)="handleSaveConfig($event)"></app-form-config>
    </div>
  </div>
</form>