@import '~@angular/material/theming';

@include mat-core();

$bpm-app-primary: mat-palette($mat-red, 500, 100, 700);
$bpm-app-accent: mat-palette($mat-brown, 400, 100, 600);
$bpm-app-warn: mat-palette($mat-deep-orange);

$bpm-theme: mat-light-theme($bpm-app-primary, $bpm-app-accent, $bpm-app-warn);

@include angular-material-theme($bpm-theme);
