<div class="row process-list">
  <div class="column small-12">
    <div class="row">
      <div class="column small-12 mos-u-spacer--padding-none">
        <img class="mos-u-responsive-img" src="/assets/img/logo.png">
      </div>
    </div>
    <div class="row mos-u-text-center">
      <div class="column small-12 mos-u-color-bg--accent2-alt mos-u-color-text--white mos-u-spacer--padding-xxsm mos-u-font-weight--medium">
        PROFILE
      </div>
    </div>
    <div class="row process-list__list">
      <div class="column small-12 mos-u-spacer--padding-none">
        <div *ngFor="let process of processes" class="process-list__item" (click)="handleClickProcess(process)" [class.active]="process._id === currentProcessId">
          <div class="mos-u-spacer--padding-md mos-u-vertical-align--middle">
            <mercer-icon class="mos-u-spacer--margin-xsm" icon="thumb_up" size="md"></mercer-icon>
            <span class="mos-u-spacer--margin-left-xsm">
              {{ process.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mos-u-align-center--horizontal" *ngIf="currentProcessId">
      <button mercer-button [disabled]="disableSubmit">Submit For Validation</button>
    </div>
  </div>
</div>