.process-list {
  height: 100vh;
  box-shadow: inset -2px 0px 0px -1px lightgray;
  
  &__list {
    min-height: 25vh;
  }
  
  &__item {
    cursor: pointer;
  }
}

.active {
  background: #B3F5DE;
  color: #1D7460;
}