<div class="form-checklist">
  <label (click)="fieldFocus.emit(true)">{{ config.label }}</label>
  <div *ngFor="let option of config.options; let i = index;">
    <mat-checkbox [(ngModel)]="selectedOptions[i]" (ngModelChange)="updateForm()">
      {{ option.label || option }}
    </mat-checkbox>
  </div>
</div>