<mat-form-field class="form-datepicker" [formGroup]="group">
  <input matInput [formControlName]="config.id" [matDatepicker]="picker" [placeholder]="config.label" (focus)="fieldFocus.emit(true)" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>