<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
  <div fxFlex="25">
    <app-stat-card [cardheader]="{ backgroundColor: 'red', icon: 'info_outline'}">
      <div cardcontent>
        <p class="category">Process Definitions</p>
        <h3 class="title">75</h3>
      </div>
      <div cardfooter>
        <a href="">Go</a>
      </div>
    </app-stat-card>
  </div>
  <div fxFlex="25">
    <app-stat-card [cardheader]="{ backgroundColor: 'red', icon: 'info_outline'}">
      <div cardcontent>
        <p class="category">Process Instances</p>
        <h3 class="title">3</h3>
      </div>
      <div cardfooter>
        <a routerLink="/process-instance">Go</a>
      </div>
    </app-stat-card>
  </div>
  <div fxFlex="25">
    <app-stat-card [cardheader]="{ backgroundColor: 'red', icon: 'info_outline'}">
      <div cardcontent>
        <p class="category">Task List</p>
        <h3 class="title">3</h3>
      </div>
      <div cardfooter>
        <a href="">Go</a>
      </div>
    </app-stat-card>
  </div>
</div>
