/* You can add global styles to this file, and also import other style files */
@import "~bpmn-js-properties-panel/styles/properties";

a {
  text-decoration: none;
}

#page-content {
  min-height: 100vh;
}

.expand {
  flex: 1 1 auto;
}

.full {
  width: 100%;
}

.app-dialog-container .mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

.bottom-control {
  position: fixed;
  bottom: 10%;
  right: 5%;
}



