<div [ngSwitch]="displayFormEditor">
  <div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'show'">
    <div fxLayout="row" fxLayoutGap="20px" *ngFor="let formData of forms">
      <div class="full" fxFlex="20%">
        <app-component-config
          (onFormConfigChange)="handleComponentChange($event)"
          [currentFormInfo]="selectedFormInfo">
        </app-component-config>
      </div>
      <div fxFlex="expand">
        <app-plugin-loader [pluginKey]="getComponentKey(formData.formInfo)"
                           (onConfigChange)="handleOnConfigChange($event)"
                           [data]="currentPluginData"></app-plugin-loader>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'no-formid'">
    <p>select a user task to configure the associated form.</p>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'no-form'">
    <p>No form associated with this task</p>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'no-fields'">
    <p>No fields associated with this task</p>
  </div>
</div>
