<div class="card">
  <div class="card-header card-chart" [attr.data-background-color]="infoCardConfig.headlineColor">
    <app-bpm-viewer *ngIf="infoCardConfig.diagramData"
      [canvasId]="'canvas' + infoCardConfig.id"
      [diagramXml]="infoCardConfig.diagramData"></app-bpm-viewer>
  </div>
  <div class="card-content">
    <ng-content select="[cardContent]"></ng-content>
  </div>
  <div class="card-footer">
    <div class="stats">
      <ng-content select="[cardStats]"></ng-content>
    </div>
  </div>
</div>
