<div fxLayout="column" fxLayoutGap="15px">
  <mat-toolbar>
    <div fxFlex="auto"></div>
    <button mat-icon-button color="primary" (click)="handleStartNewProcess()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card *ngFor="let pi of processInstances">
    <mat-card-title>
      <h4>Flow Instance Id: {{ pi.id }}</h4>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="20%">
          <ul class="description-list">
            <li *ngFor="let key of getProcessInstanceKeys(pi)">
              <strong>{{key}}</strong>: {{ pi[key] }}
            </li>
          </ul>
        </div>
        <div fxFlex="auto">
          <mat-card *ngFor="let task of pi.tasks">
            <mat-card-title>
              {{task.name}}
            </mat-card-title>
            <mat-card-content>
              <ul class="description-list">
                <li *ngFor="let key of getTaskKeys(task)">
                  <strong>{{key}}</strong>: {{ task[key] }}
                </li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <div fxFlex="auto"></div>
              <button mat-raised-button color="primary" (click)="handleTaskComplete(task)">Complete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
