<form [formGroup]="form">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-form-field class="full-width">
      <input matInput placeholder="Flow name" formControlName="name"/>
      <mat-error *ngIf="form.get('name').hasError('required')">
        Please enter a name for your Flow
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput mat-autosize
                formControlName="description"
                placeholder="Description"></textarea>
    </mat-form-field>
  </div>
</form>
<div class="bottom-control" *ngIf="displayMode === 'embedded'">
  <button mat-fab color="accent">
    <mat-icon>save</mat-icon>
  </button>
</div>
