<div *ngIf="processDefinition?.configXml">
  <app-tool-bar [toolBarConfig]="topToolBarConfig"></app-tool-bar>
  <div fxLayout="column" fxLayoutGap="15px">
    <div fxFlex>
      <mat-card>
        <app-bpm-viewer
          (onBpmEvent)="handleBpmEvent($event);"
          [canvasId]="canvasId"
          [diagramXml]="diagramXml"
          size="md"></app-bpm-viewer>
      </mat-card>
    </div>
    <div fxFlex>
      <app-process-definition-components
        [formId]="currentFormId"
        mode="single"
        (onDefinitionFormsChange)="onFlowChange.emit({ type: 'definitionFormChange', data: $event })"
        [processDefinition]="processDefinition">
      </app-process-definition-components>
    </div>
  </div>
</div>
<div *ngIf="!processDefinition?.configXml">
  No diagram data found.
  <div class="bottom-control" fxLayout="row" fxLayoutGap="15px">
    <button mat-fab color="accent" matTooltip="add flow" (click)="handleEdit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
