<mercer-header [isAuth]="true">

  <mercer-header-logo>
    <a href="#/">
      <img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer">
    </a>
  </mercer-header-logo>

  <!--
  <mercer-header-title>
    <a href="#/"><span class="show-for-medium">Mercer</span> OS</a>
  </mercer-header-title>
  -->

  <mercer-header-links class="show-for-large">
    <ul class="row collapse mos-c-header__menu">
      <li class="columns shrink" routerLinkActive="mos-c-header__menu-item--active">
        <a routerLink="/process-list">Workspace</a>
      </li>
      <li class="columns shrink">
        <a routerLink="/">Other</a>
      </li>
    </ul>
  </mercer-header-links>

  <mercer-header-dropdown-account>
    <mercer-dropdown position="right">
      <mercer-dropdown-label>
        <a>
          <mercer-avatar theme="primary-alt" [photo]="true" src="/assets/img/avatar.jpeg" alt="MG" [dropdownIcon]="true">MG</mercer-avatar>
        </a>
      </mercer-dropdown-label>
      <mercer-dropdown-item>
        <mercer-hcard [left]="false" [right]="false">
          <mercer-hcard-left>
          </mercer-hcard-left>
          <mercer-hcard-center>
            <div class="vcard">
              <h3 class="mos-c-hcard--fn fn">Marion Garland</h3>
              <div class="mos-c-hcard__group">
                <h5 class="mos-c-hcard--org org">ACME Corporation</h5>
                <h6 class="mos-o-subheader-5 mos-c-hcard--title title">Sr. Supervisor of Accounts</h6>
              </div>
            </div>
          </mercer-hcard-center>
          <mercer-hcard-right>
          </mercer-hcard-right>
        </mercer-hcard>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a href="#">Account</a>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a href="#">Settings</a>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a href="#">Logout</a>
      </mercer-dropdown-item>
    </mercer-dropdown>
  </mercer-header-dropdown-account>

  <mercer-header-logged-out>
    <a href="#/">Sign In</a>
  </mercer-header-logged-out>

</mercer-header>

<mercer-side-nav #headerSideNav>
  <mercer-side-nav-logo>
    <a href="#/">
      <img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer">
    </a>
  </mercer-side-nav-logo>
  <mercer-side-nav-group groupTitle="Tools">
    <!-- link has the same interface as `routerLink` -->
    <mercer-side-nav-group-item icon="today" itemTitle="Changelog" link="/docs/changelog" [active]="true">
    </mercer-side-nav-group-item>
    <!-- can pass urls with `//`, will be parsed as external -->
    <mercer-side-nav-group-item icon="tune" itemTitle="Google" link="https://www.google.com">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group>
  <mercer-side-nav-group groupTitle="Resources">
    <mercer-side-nav-group-item icon="store_mall_directory" itemTitle="User Manual" link="#">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item icon="thumbs_up_down" itemTitle="Assisted Job Match" link="#">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group>
</mercer-side-nav>

<router-outlet></router-outlet>
