<app-side-nav [sideNavConfig]="sideNavConfig" *ngIf="sideNavConfig">
  <div fxLayout="column" class="detail-content" fxLayoutGap="25px" [ngSwitch]="sectionToDisplay">
    <app-top-nav [config]="topNavConfig">
    </app-top-nav>
    <div *ngSwitchCase="'general'">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="65%" *ngIf="processDefinition">
          <app-process-generalinfo-form
            mode="embedded"
            (onformChange)="handleOnGeneralFormChange($event)"
            [processDefinition]="processDefinition">
          </app-process-generalinfo-form>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'flow'">
      <div *ngIf="processDefinition">
        <app-process-definition-flow
          (onFlowChange)="handleFlowChange($event)"
          [processDefinition]="processDefinition">
        </app-process-definition-flow>
      </div>
    </div>
    <div *ngSwitchCase="'forms'">
      <div *ngIf="processDefinition">
        <app-flow-renderer [processDefinition]="processDefinition"></app-flow-renderer>
      </div>
    </div>
    <div *ngSwitchCase="'instances'">
      <div *ngIf="processDefinition">
        <app-process-instance [processDefinition]="processDefinition"></app-process-instance>
      </div>
    </div>
  </div>
</app-side-nav>

