<!-- <app-plugin-loader pluginKey="dynoForm" (onConfigChange)="handleOnConfigChange($event)" [data]="currentPluginData" [standaloneFlag]="true"></app-plugin-loader> -->

<form class="gbm-form" [formGroup]="configForm" *ngIf="configForm">
  <div>
    <h4>{{configForm.value.label}} Configurations</h4>
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    <div *ngFor="let field of fields">
      <ng-container *ngIf="showField(field)" gbmFormField [config]="field" [group]="configForm"></ng-container>
    </div>
  </div>
  <div fxLayout="row-reverse">
    <button mat-icon-button color="accent" (click)="handleConfigSave()" [disabled]="!configForm.dirty">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>