<div class="mos-o-form-input-field" [formGroup]="group">
  <select [formControlName]="config.id" [id]="config.id" (focus)="fieldFocus.emit(true)">
    <option *ngFor="let option of config.options" [value]="option.value || option" [innerText]="option.label || option"></option>
  </select>
  <label *ngIf="config.label" [for]="config.id" [innerText]="config.label"></label>
</div>