<div fxLayout="row" fxLayoutAlign="end center">
  <mat-toolbar *ngIf="toolBarConfig.show" class="top-toolbar">
    <div fxFlex="auto"></div>
    <div *ngFor="let toolBarNavItem of toolBarConfig.items">
      <button mat-icon-button [matTooltip]="toolBarNavItem.tooltip"
              (click)="toolBarNavItem.execute()"
              color="accent">
        <mat-icon>{{toolBarNavItem.icon}}</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
