<mat-toolbar *ngIf="showNavBar">
  <span>{{config.title}}</span>
  <div class="expand"></div>
  <div *ngFor="let item of config.items">
    <button mat-icon-button color="accent"
            (click)="handleClick(item)">
      <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
    </button>
  </div>
</mat-toolbar>
