<form [formGroup]="formGroup">
  <div fxLayout="column">
    <p>Form Information</p>
    <div style="margin-bottom: 10px">
      <label style="margin-right: 10px">Form Key:</label>
      {{ formInfo.formKey }}
    </div>
    <div style="margin-bottom: 10px">
      <label style="margin-right: 10px">Task ID:</label>
      {{ formInfo.formId }}
    </div>
    <div style="margin-bottom: 10px">
      <label style="margin-right: 10px">Form Name:</label>
      {{ formInfo.formName }}
    </div>
    <div class="full">
      <mat-form-field>
        <mat-select placeholder="Select Component" formControlName="componentKey">
          <mat-option *ngFor="let compOpt of componentTypeOptions" [value]="compOpt.value">
            {{compOpt.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
