<form [formGroup]="form" *ngIf="form">
  <div fxLayout="column">
    <p>Field Properties</p>
    <div style="margin-bottom: 10px">
      <label style="margin-right: 10px">Field:</label>
      <span>{{field.id}}</span>
    </div>
    <mat-form-field>
      <mat-select placeholder="UI Control" formControlName="uiType">
        <mat-option *ngFor="let uiControl of uiControlOptions" [value]="uiControl.value">
          {{uiControl.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%" *ngIf="form.value.uiType === 'select'">
      <input matInput formControlName="options" placeholder="Select Options (comma separated)"/>
    </mat-form-field>
    <div>
      <label>Width</label>
    </div>
    <mat-slider
      fxFlex="80%"
      (change)="handleSliderChange($event)"
      [max]="sliderConfig.max"
      [min]="sliderConfig.min"
      [step]="sliderConfig.step"
      [tickInterval]="1"
      [value]="currentWidth"
      [thumbLabel]="sliderConfig.thumbLabel"></mat-slider>
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Label" formControlName="label"/>
    </mat-form-field>
  </div>
</form>
