<div>
  <div id="controls" fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
    <mat-toolbar fxFlex="50%">
      <h4>{{currentProcessDefinition?.name}}</h4>
      <div fxFlex="auto"></div>
      <div fxLayout="row" fxLayoutGap="5px">
        <button mat-raised-button
                color="primary"
                (click)="handleSave()">
          <mat-icon>save</mat-icon> Save
        </button>
        <button mat-raised-button
                color="primary"
                (click)="handleUndo()">
          <mat-icon>undo</mat-icon> Undo
        </button>
        <button mat-raised-button
                color="primary"
                (click)="handleRedo()">
          <mat-icon>redo</mat-icon> Redo
        </button>
        <button mat-button
                (click)="handleBack()">Cancel
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div id="canvas" class="content"></div>
  <div id="js-properties-panel"></div>
</div>
