<div class="mos-o-form-input-field mos-u-spacer--margin-bottom-md" [formGroup]="group">
  <mos-multi-select [formControlName]="config.id" [id]="config.id" (focus)="fieldFocus.emit(true)" name="foods" canSelectAll=true [placeHolder]="config.label">
    <mos-multi-option *ngFor="let option of config.options" [value]="option.value || option">{{ option.label || option }}</mos-multi-option>
  </mos-multi-select>
</div>