<div class="row right-side-nav">
  <div class="column small-12">
    <div *ngIf="progressTitle">
      <div class="row mos-u-color-bg--black mos-u-color-text--white mos-u-spacer--padding-sm mos-u-align-center--vertical">
        <div class="column small-8">
          <div class="mos-u-text-size--xsm" [innerText]="progressTitle?.toUpperCase()"></div>
          <div class="mos-u-text-size--md">Total Progress</div>
        </div>
        <div class="column small-4 mos-u-text-size--lg mos-u-font-weight--bold mos-u-text-right" [innerText]="progress + '%'"></div>
      </div>
      <div class="row mos-u-spacer--padding-sm mos-u-color-bg--accent2">
        <div class="column small-12">
          <mercer-progress-bar [currentProgress]="progress" [progressMarker]="false"></mercer-progress-bar>
        </div>
      </div>
    </div>
    <div class="row mos-u-spacer--padding-md">
      <mercer-nav-list>
        <a mercer-list-item class="column small-12" *ngFor="let contact of contacts">
          {{ contact.form_id_form_field_0}}
        </a>
      </mercer-nav-list>
    </div>
  </div>
</div>

<mercer-modal #infoExample escapable="true" theme="primary">
  <mercer-modal-header>
    <h3>{{ form?.formName }}</h3>
  </mercer-modal-header>
  <mercer-modal-content contentMaxHeight="600">
    <div class="mos-u-spacer--padding-bottom-md">
      <!-- <app-gbm-form *ngIf="form" [currentFormId]="form.formId" [data]="{ formData: form }" [collectedData]="form.collectedData"
        (formSubmit)="handleFormSubmit($event); infoExample.close(); infoExample.removeBackdrop()"></app-gbm-form>     -->
    </div>
  </mercer-modal-content>
</mercer-modal>