<div [ngSwitch]="displayFormEditor" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="20px" *ngSwitchCase="'show'">
    <div fxFlex="grow">
      <div fxLayout="column" fxLayoutGap="15px">
        <mat-card class="full" fxFlex="100%">
          <h2 mat-card-title>
            {{formData.formInfo.formName}}
            <div fxFlex="auto"></div>
            <button mat-icon-button color="accent" (click)="handleShowFormConfig(formData.formInfo.formId)">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="addField()" *ngIf="standaloneFlag">
              <mat-icon>add_circle</mat-icon>
            </button>
          </h2>
          <form [formGroup]="formData.formGroup">
            <div
              fxLayoutGap="15px"
              [fxLayout]="getLayoutConfig(formData.formInfo).layoutType"
              [fxLayoutWrap]="getLayoutConfig(formData.formInfo).layoutWrap"
              [fxLayoutAlign]="getFormLayoutHAlignment(formData.formInfo)">
              <div [fxFlex]="getLayoutConfig(formData.formInfo).fxFlex"
                   [class]="'width-'+field.controlConfig.width" *ngFor="let field of formData.formInfo.fields">
                <div *ngIf="field.controlConfig.type === 'input'">
                  <mat-form-field [class]="'width-'+field.controlConfig.width">
                    <mat-icon style="font-size: 100%" matPrefix color="accent">drag_handle
                    </mat-icon>
                    <input matInput [formControlName]="field.id" [placeholder]="field.label"/>
                    <button matSuffix mat-icon-button color="accent" (click)="handleShowFieldConfig(field.id)">
                      <mat-icon >settings</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div [class]="'width-'+field.controlConfig.width" *ngIf="field.controlConfig.type === 'toggle'">
                  <mat-icon style="font-size: 100%" matPrefix color="accent">drag_handle</mat-icon>
                  <mat-slide-toggle color="primary">
                    {{field.label}}
                  </mat-slide-toggle>
                  <button matSuffix mat-icon-button color="accent" (click)="handleShowFieldConfig(field.id)">
                    <mat-icon >settings</mat-icon>
                  </button>
                </div>
                <div [class]="'width-'+field.controlConfig.width" *ngIf="field.controlConfig.type === 'select'">
                  <mat-icon style="font-size: 100%" matPrefix color="accent">drag_handle</mat-icon>
                  <mat-form-field>
                    <mat-select [placeholder]="field.label" [formControlName]="field.id">
                      <mat-option *ngFor="let option of field.options" [value]="option.value || option">
                        {{ option.label || option }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button matSuffix mat-icon-button color="accent" (click)="handleShowFieldConfig(field.id)">
                    <mat-icon>settings</mat-icon>
                  </button>
                </div>
                <div *ngIf="field.controlConfig.type === 'datePicker'">
                  <mat-form-field [class]="'width-'+field.controlConfig.width">
                    <mat-icon style="font-size: 100%" matPrefix dnd-draggable-handle color="accent">drag_handle
                    </mat-icon>
                    <input matInput [formControlName]="field.id" [matDatepicker]="picker"
                           [placeholder]="field.label"/>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <button matSuffix mat-icon-button color="accent" (click)="handleShowFieldConfig(field.id)">
                      <mat-icon >settings</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="45"
                   *ngIf="getLayoutConfig(formData.formInfo).colNumber % 2 === 0 && formData.formInfo.fields.length % 2 !== 0">
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div fxFlex="25%">
      <mat-card>
        <app-dyno-form-config
          (onConfigChange)="handleConfigChange($event, currentFormId)"
          (onConfigSave)="handleConfigSave()"
          [currentFieldId]="currentFieldId"
          [configMode]="configMode"
          [formInfo]="formData.formInfo">
        </app-dyno-form-config>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" *ngSwitchCase="'no-formid'">
    <p>select a user task to configure the associated form.</p>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" *ngSwitchCase="'no-form'">
    <p>No form associated with this task</p>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" *ngSwitchCase="'no-fields'">
    <p>No fields associated with this task</p>
  </div>
</div>
