<div class="mos-u-spacer--padding-bottom-md" [formGroup]="group">
  <mercer-datepicker [formControlName]="config.id" [dateLabel]="config.label" (focus)="fieldFocus.emit(true)"></mercer-datepicker>
</div>