<form [formGroup]="formGroup">
  <div fxLayout="column">
    <p>Form Properties</p>
    <div>
      <mat-form-field style="width: 100%">
        <mat-select placeholder="Layout" formControlName="layoutColumns">
          <mat-option *ngFor="let opt of layoutOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label>Alignment:</label>
      <button mat-icon-button
              *ngFor="let alignOpt of alignmentOptions"
              [color]="isHAlignmentSelected(alignOpt.value) ? 'primary' : 'accent'"
              (click)="handleAlignmentChange(alignOpt.value)">
           <mat-icon>{{alignOpt.icon}}</mat-icon>
      </button>
    </div>
  </div>
</form>
