<div [formGroup]="group">
  <label>{{ config.label }}</label>
  <mat-slider 
  [formControlName]="config.id"
  [max]="config.controlConfig.max || 100"
  [min]="config.controlConfig.min || 0"
  [step]="config.controlConfig.step || 1"
  [thumb-label]="config.controlConfig.thumbLabel || false"
  [style.width]="'100%'"
  ></mat-slider>
</div>