.sidebar {
  background-color: white;
}

.side-nav-container {
  width: 100%;
  height: auto;
}

.side-nav {
  width: 35%;
}

.sidebar .nav > li.active-pro {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

@media (max-width: 991px) {
  .sidebar .nav > li.active-pro {
    position: relative;
    width: 100%;
    bottom: 10px;
  }
  .sidebar .nav > li.active-pro > a {
    margin-top: 20px;

  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.mat-drawer.mat-drawer-side {
  z-index: 4;
}

:host /deep/ .mat-sidenav-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  background-color: white;
}

.side-bar-content {
  padding-left: 25px;
  padding-right: 25px;
}
