<mat-sidenav-container>
  <div class="sidebar" *ngIf="sideNavConfig?.show" data-color='red' data-image>
    <mat-sidenav class="sidebar-wrapper" opened="true" mode="side">
      <ul class="nav">
        <li routerLinkActive="active"
            [class]="isNavItemActive(i) ? 'active' : ''"
            *ngFor="let menuItem of sideNavConfig.sideNavItems; let i = index">
          <a
             [routerLink]="[menuItem.target.path]"
             [queryParams]="menuItem.target.queryParams">
            <p>{{menuItem.label}}</p>
          </a>
          <a *ngIf="menuItem.action" href="#" (click)="executeAction($event, menuItem, i)">
            <p>{{menuItem.label}}</p>
          </a>
        </li>
      </ul>
    </mat-sidenav>
  </div>
  <div class="side-bar-content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
