#canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#canvas > div {
  height: 100%;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 0;
  margin: 0;
}

#page-content {
}
