<div class="card card-stats">
  <div class="card-header" [attr.data-background-color]="cardheader.backgroundColor">
    <i class="material-icons">{{cardheader.icon}}</i>
  </div>
  <div class="card-content">
    <ng-content select="[cardcontent]"></ng-content>
  </div>
  <div class="card-footer">
    <div fxLayout="row">
      <div class="stats">
        <ng-content select="[cardfooter]"></ng-content>
      </div>
    </div>
  </div>
</div>
